@model CompanyModel
@{
    ViewData["Title"] = "Add Company";
    // Layout = "_Layout";
}


<div class="container">

    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success alert-dismissable fade show" role="alert">
            <strong>Congratulations</strong> You have added a company successfully. <br />
            Click <a asp-controller="Company" asp-action="GetCompany" asp-route-id="@ViewBag.CompanyId">here</a> to view the details
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                @* <span aria-hidden="true">&times;</span> *@
            </button>
        </div>
    }

    <form method="post" enctype="multipart/form-data" asp-action="AddCompany" asp-controller="Company">
        
        <h3 class="display-5">Add a company</h3>
        <hr/>       
       
        <div class="form-group">
            <label asp-for="CompanyName"></label>
            <input asp-for="CompanyName" class="form-control" />
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CompanyEmail"></label>
            <input asp-for="CompanyEmail" class="form-control" />
            <span asp-validation-for="CompanyEmail" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LogoImg"></label>
            <div class="input-group mb-3">
                <input asp-for="LogoImg" class="form-control" id="inputGroupFile02">
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
            </div>
            <span asp-validation-for="LogoImg" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CompanyWebsite"></label>
            <input asp-for="CompanyWebsite" class="form-control" />
            <span asp-validation-for="CompanyWebsite" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Add Company" class="btn btn-primary" />
        </div>
       
      @*  <div class="container">           
           <div class="col-md-12">
               <div class="table table-sm">
                   <thead>
                       <tr>
                           <th>First Name</th>
                           <th>Last name</th>
                           <th>Email</th>
                           <th>Phone</th>
                       </tr>
                   </thead>
                   
               </div>
                <tbody>
                @for (int i = 0; i < Model.Employees.Count; i++)
                {
                    <div class="form-group">
                        <label asp-for="@Model.Employees[i].FirstName"></label>
                        <input asp-for="@Model.Employees[i].FirstName" />
                    </div>

                }
                </tbody>
                  
           </div>
       </div> *@
        


    </form>
</div>

