@model CompanyModel

@{
    ViewData["Title"] = "Delete Company";
}
<div class="text-center bg-danger">
    <h1>Are you sure you want to delete this?</h1>
</div>

<div class="col-ll mx-auto pt-0 p-0">
    <div class="card">
        <div class="card-header bg-success text-uppercase text-white" style="height:45px;">
            <h4>Delete Company</h4>
        </div>
        
        <form id="CompanyForm" enctype="multipart/form-data" asp-action="Delete">

            <input type="hidden" asp-for="CompanyID" />

            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        @* <label asp-for="CompanyName" class="control-label"></label> *@
                        <input asp-for="CompanyName" class="form-control-plaintext" readonly />                        
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @* <label asp-for="CompanyEmail" class="control-label"></label> *@
                        <input asp-for="CompanyEmail" class="form-control-plaintext" readonly />
                        
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        @* <label asp-for="CompanyWebsite" class="control-label"></label> *@
                        <input asp-for="CompanyWebsite" class="form-control-plaintext" readonly />
                        
                    </div>
                </div>

                <div class="col-md-6 btn-group">
                    <label asp-for="CompanyLogo" class="control-label"></label>
                    <img src="~/36-200x300.jpg" class="img-fluid" width="100" height="100" />
                   @*  <div class="form-group col-8 p-0">
                        <label asp-for="CompanyLogo" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="CompanyLogo" class="custom-file-input" id="customFile"
                                   onchange="document.getElementById('PreviewPhoto').src = window.URL.createObjectURL(this.files[0])" />
                            <label class="custom-file-label" for="customFile">Choose a logo</label>
                        </div>
                        <span asp-validation-for="CompanyLogo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <img id="PreviewPhoto" src="~/36-200x300.jpg" alt="Logo Image"
                             width="125" height="125" style="border:1px; margin-top:20px;" />
                    </div> *@
                </div>
                
                <div class="col-md-12">
                    <table class="table table-striped table-sm" id="EmpTable">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Employees.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <input asp-for="@Model.Employees[i].FirstName" class="form-control" readonly />
                                    </td>
                                    <td>
                                        <input asp-for="@Model.Employees[i].LastName" class="form-control" readonly />
                                    </td>
                                    <td>
                                        <input asp-for="@Model.Employees[i].Email" class="form-control" readonly />
                                    </td>
                                    <td>
                                        <input asp-for="@Model.Employees[i].Phone" class="form-control" readonly />
                                    </td>
                                    
                                 </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-12 btn-group">
                <div class="col-6 form-group text-right p-2">
                    <a asp-action="List" class="btn btn-secondary">Back</a>
                </div>
                <div class="col-6 form-group text-left p-2">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </form>
                </div>
            </div>
           
            



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}
