@{
    ViewData["Title"] = "All Companies";
}
@model IEnumerable<CompanyModel>

<div class="container">
    <h3 class="display-4">Companies</h3>
    <div class="row">
        @foreach (var company in Model)
        {
            <div class="col-md-4">
                <partial name="_companyDetails" model="@company" />               
            </div>
        }        
    </div>
</div>
