@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Companies</h1>
        <p class="lead text-muted">
            This is an app where you can store and view a company's details and employees.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search companies</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Companies</h3>

        <vc:GetCompanesAsync></vc:GetCompanesAsync>

        
    </div>
</div>
